<div class="about-container d-flex align-items-center justify-content-center mt-4 fw-light p-5">
    <img src="assets/happy-geo.png" alt="">

    <div class="text-about d-flex flex-column">
        <h5 class="fw-bold text-center">Sobre mim</h5>

        <p>Sou estudante de <span>Sistemas de Informação</span>, apaixonada por tecnologia e pela criação de soluções
            digitais. Desenvolvo sites e sistemas completos, unindo design, experiência do usuário e integração com APIs
            para que tudo funcione de forma prática e intuitiva. </p>

        <p>Tenho trabalhado em projetos pessoais que abrangem tanto o <span>frontend</span> quanto o
            <span>backend</span>, e busco sempre aprimorar meus conhecimentos em programação, <span>UX/UI</span> e
            estrutura de dados, combinando criatividade e lógica para entregar soluções funcionais e envolventes.
        </p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger shadow align-self-center p-3" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            <img class="btn-modal me-2 mb-1" src="assets/info-icon-svg.svg" alt="">
            Meus Certificados
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">CURSOS & CERTIFICADOS</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="card-cursos p-3 d-flex justify-content-between align-items-center mb-4">
                            <img src="assets/dio-logo.jpg" alt="">
                            <div class="text-curso d-flex flex-column">
                                Versionamento de código
                                <span>DIO - 2024</span>
                            </div>
                            <span class="box-tecnologies text-center"  data-tech="git">GIT</span>
                        </div>

                        <div class="card-cursos p-3 d-flex justify-content-between align-items-center mb-4">
                            <img src="assets/bradesco-logo.jpg" alt="">
                            <div class="text-curso d-flex flex-column">
                                Segurança da Informação
                                <span>Fundação Bradesco - 2024</span>
                            </div>
                            <span class="box-tecnologies text-center" data-tech="si">SI</span>
                        </div>

                        <div class="card-cursos p-3 d-flex justify-content-between align-items-center">
                            <img src="assets/cambridge-logo.jpg" alt="">
                            <div class="text-curso d-flex flex-column">
                                Inglês Intermediário - B1
                                <span>Cambridge - 2023</span>
                            </div>
                            <span class="box-tecnologies text-center" data-tech="si">Inglês</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <img src="assets/black-info-icon.png" alt="">
                        <span>Certificados disponíveis mediante solicitação</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="line"></div>