<div class="about-container">
    <img src="../../../assets/happy-geo.png" alt="">

    <div class="text-about">
        <h5>Sobre mim</h5>

        <p>Sou estudante de <span>Sistemas de Informação</span>, apaixonada por tecnologia e pela criação de soluções digitais. Desenvolvo sites e sistemas completos, unindo design, experiência do usuário e integração com APIs para que tudo funcione de forma prática e intuitiva. </p>

        <p>Tenho trabalhado em projetos pessoais que abrangem tanto o <span>frontend</span> quanto o <span>backend</span>, e busco sempre aprimorar meus conhecimentos em programação, <span>UX/UI</span> e estrutura de dados, combinando criatividade e lógica para entregar soluções funcionais e envolventes.</p>

        <button>
            <img src="../../../assets/info-icon.png" alt="">
            Meus Certificados
        </button>
    </div>
</div>

<div class="line"></div>