.container-cards {
    padding: 30px 140px 10px;
}

.card-servicos {
    background-color: #84BCF4;
    border-radius: 3px;
    width: 400px;
    padding: 30px 20px;
}

.card-servicos h5 {
    color: #fff;
}

.line{
    background-color: #C23D53;
    height: 57px;
    width: 100%;
}