<div class="d-flex flex-column align-items-center p-5">
    <h3>HABILIDADES & SERVIÇOS</h3>

    <div class="container-cards d-flex flex-wrap justify-content-center gap-5">
        <div class="card-servicos shadow">
            <h5 class="fw-bold text-center mb-3">Criação de Sites</h5>

            <p>Desenvolver sites permite que empresas e pessoas tenham presença online, mostrando produtos, serviços ou informações e facilitando a comunicação com clientes.</p>
        </div>

        <div class="card-servicos shadow">
            <h5 class="fw-bold text-center mb-3">UX/UI e Design</h5>

            <p>Envolve criar interfaces intuitivas e atraentes para usuários, melhorando a experiência do visitante, aumentando satisfação e engajamento.</p>
        </div>

        <div class="card-servicos shadow">
            <h5 class="fw-bold text-center mb-3">Criação de Landing Pages</h5>

            <p>Landing pages são páginas que chamam a atenção do visitante e incentivam a agir, como se inscrever, deixar o contato ou comprar algo, ajudando a alcançar resultados.</p>
        </div>

        <div class="card-servicos shadow">
            <h5 class="fw-bold text-center mb-3">Consumo de APIs</h5>

            <p>Consumir APIs permite integrar sistemas e acessar dados de forma automática, agilizando processos, conectando serviços e tornando as aplicações mais completas.</p>
        </div>
    </div>
</div>

<div class="line"></div>