<div class="background-footer d-flex justify-content-around p-5">
    <div class="card-name d-flex flex-column">
        <div class="d-flex align-items-end">
            <a class="navbar-brand" href="#">Geo</a>
            <div class="box-radius"></div>
        </div>

        <span>Dev Fullstack e Web Designer</span>
        <span>Disponível para contratação - CLT ou PJ</span>
    </div>

    <div class="social-icons d-flex justify-content-between align-items-center">
        <a href="https://www.linkedin.com/in/geovanna-vit%C3%B3ria/" target="_blank">
            <img class="m-3" src="assets/white-linkedin.png" alt="">
        </a>

        <a href="https://github.com/GeovannaVitoria" target="_blank">
            <img class="m-3" src="assets/white-github.png" alt="">
        </a>

        <a href="mailto:geovannavitmlopes@gmail.com">
            <img class="m-3" src="assets/mail-icon.png" alt="">
        </a>
    </div>
</div>

<div class="background-footer d-flex align-items-center justify-content-center">
     &copy;
    <span class="copyright">2026 Geovanna Vitória Moreira Lopes</span>
</div>