<div class="d-flex justify-content-evenly align-items-center position-relative header-container">

    <div class="d-flex flex-column justify-content-evenly social-media">
        <a class="navbar-brand" href="https://www.linkedin.com/in/geovanna-vit%C3%B3ria/" target="_blank">
            <img src="assets/logo-linkedin.png" alt="Linkedin">
        </a>

        <a class="navbar-brand" href="https://github.com/GeovannaVitoria" target="_blank">
            <img src="assets/logo-github.png" alt="Github">
        </a>
    </div>

    <div class="header-text">
        <p class="size-text">Olá, me chamo</p>
        <p class="name-text">Geovanna Vitória</p>
        <span class="text-color">Desenvolvedora Fullstack e Web Designer</span>
        <p class="size-text">Transformo suas ideias em projetos criativos e funcionais.</p>
    </div>

    <img src="assets/meu-avatar.png" alt="">
</div>

<div class="d-flex justify-content-center align-items-center header-tecnologies">
    <div class="d-flex justify-content-around align-items-center" style="width: 1200px;">
        <div class="box-tecnologies" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Linguagem de marcação de texto">
            <span>HTML</span>
        </div>

        <div class="box-tecnologies" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Linguagem de estilização de texto">
            <span>CSS</span>  
        </div>
        <div class="box-tecnologies" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Javascript é uma linguagem de programação interativa a sites">
            <span>JS</span>
        </div>
        <div class="box-tecnologies" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Typescript é um superset do javascript com tipagem dinâmica">
            <span>TS</span>
        </div>
        <div class="box-tecnologies" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Framework web moderno e dinâmico que utiliza o Typescript">
            <span>Angular</span>
        </div>
        <div class="box-tecnologies" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Ferramenta de design">
            <span>Figma</span>
        </div>
        <div class="box-tecnologies" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Framework que facilita o desenvolvimento front-end">
            <span>Bootstrap</span>
        </div>
        <div class="box-tecnologies" data-bs-toggle="tooltip" data-bs-placement="bottom"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Ferramenta de versionamento de código">
            <span>Git</span>
        </div>
    </div>



</div>