<div class="projects-section p-5">
    <h3 class="text-center fw-semibold">PROJETOS</h3>


    <div class="card-container d-flex flex-wrap justify-content-between">
        <div class="card-project shadow p-2">
            <img src="assets/logo.png" alt="">
            <div class="description-card d-flex flex-column p-2">
                <h5 class="fw-bold">Site de Hospedagem</h5>
                <div class="subtitle-card d-flex align-items-center">
                    <img src="assets/arrow_icon.png" alt="">
                    <span class="ms-2"> Tecnologias: HTML & CSS</span>
                </div>
                <p>Um breve resumo Um breve resumo Um breve resumo</p>
                <button type="button" class="btn">Ver</button>

                <a class="text-center mt-3" href="https://github.com/GeovannaVitoria/projeto-hospedagem" target="_blank">Repositório</a>
            </div>
        </div>

        <div class="card-project shadow p-2">
            <img src="assets/logo.png" alt="">
            <div class="description-card d-flex flex-column p-2">
                <h5 class="fw-bold">Bio Attendance System</h5>
                <div class="subtitle-card d-flex align-items-center">
                    <img src="assets/arrow_icon.png" alt="">
                    <span class="ms-2"> Tecnologias: Java, Python e Angular</span>
                </div>
                <p>Um breve resumo Um breve resumo Um breve resumo</p>
                <button type="button" class="btn">Ver</button>
                <a class="text-center mt-3" href="https://github.com/GeovannaVitoria/bio-attendance-system" target="_blank">Repositório</a>
            </div>
        </div>

        <div class="card-project shadow p-2">
            <img src="assets/logo.png" alt="">
            <div class="description-card d-flex flex-column p-2">
                <h5 class="fw-bold">My Library</h5>
                <div class="subtitle-card d-flex align-items-center">
                    <img src="assets/arrow_icon.png" alt="">
                    <span class="ms-2"> Tecnologias: Angular & Python</span>
                </div>
                <p>Um breve resumo Um breve resumo Um breve resumo</p>
                <button type="button" class="btn">Ver</button>
                <a class="text-center mt-3" href="https://github.com/GeovannaVitoria/my-library" target="_blank">Repositório</a>
            </div>
        </div>

    </div>
</div>