<div class="projects-section p-5">
    <h3 class="text-center fw-semibold">PROJETOS</h3>


    <div class="card-container d-flex flex-wrap justify-content-between">
        <div class="card-project shadow p-2">
            <img src="assets/hospedagem.png" alt="">
            <div class="description-card d-flex flex-column p-2">
                <h5 class="fw-bold">Layout Web - Site de Hosting</h5>
                <div class="subtitle-card d-flex align-items-center">
                    <img src="assets/arrow_icon.png" alt="">
                    <span class="ms-2"> Tecnologias: HTML & CSS</span>
                </div>
                <p>Aplicação web desenvolvida com HTML e CSS, explorando estrutura semântica e técnicas de estilização modernas.</p>
                <a href="https://geovannavitoria.github.io/projeto-hospedagem/" target="_blank" class="btn">Ver</a>

                <a class="repoLinks text-center mt-3" href="https://github.com/GeovannaVitoria/projeto-hospedagem"
                    target="_blank">Repositório</a>
            </div>
        </div>

        <div class="card-project shadow p-2">
            <img src="assets/tela-aviação.jpg" alt="">
            <div class="description-card d-flex flex-column p-2">
                <h5 class="fw-bold">Landing Page - Aviação</h5>
                <div class="subtitle-card d-flex align-items-center">
                    <img src="assets/arrow_icon.png" alt="">
                    <span class="ms-2"> Tecnologias: Figma</span>
                </div>
                <p>Interface para empresa de aviação fictícia, unindo modernidade e praticidade para uma navegação fluida.</p>
                <a href="https://www.figma.com/design/zzx5R8eynNdhWybEl0rWAe/Empresa-de-Avia%C3%A7%C3%A3o?node-id=0-1&t=p5fXwJ2EZggZLW4f-1" target="_blank" class="btn">Ver</a>
                <a class="repoLinks text-center mt-3" href="https://www.figma.com/design/zzx5R8eynNdhWybEl0rWAe/Empresa-de-Avia%C3%A7%C3%A3o?node-id=0-1&t=p5fXwJ2EZggZLW4f-1"
                    target="_blank">Repositório</a>
            </div>
        </div>

        <div class="card-project shadow p-2">
            <img src="../../../assets/todolist.png" alt="">
            <div class="description-card d-flex flex-column p-2">
                <h5 class="fw-bold">To do List</h5>
                <div class="subtitle-card d-flex align-items-center">
                    <img src="assets/arrow_icon.png" alt="">
                    <span class="ms-2"> Tecnologias: HTML, CSS & JS</span>
                </div>
                <p>Aplicação web desenvolvida para implementar métodos e funções nativos do JavaScript.</p>
                <a href="https://geovannavitoria.github.io/todolist/" target="_blank" class="btn">Ver</a>
                <a class="repoLinks text-center mt-3" href="https://github.com/GeovannaVitoria/todolist"
                    target="_blank">Repositório</a>
            </div>
        </div>

    </div>
</div>