<div class="projects-section">
    <h3>PROJETOS</h3>


    <div class="card-container">
        <div class="card-project">
            <img src="../../../assets/logo.png" alt="">
            <div class="description-card">
                <h5>Site de Hospedagem</h5>
                <div class="subtitle-card">
                    <img src="../../../assets/arrow_icon.png" alt="">
                    <span> Tecnologias: HTML & CSS</span>
                </div>
                <p>Um breve resumo Um breve resumo Um breve resumo</p>
                <button> Ver </button>
                <a href="https://github.com/GeovannaVitoria/projeto-hospedagem" target="_blank">Repositório</a>
            </div>
        </div>

        <div class="card-project">
            <img src="../../../assets/logo.png" alt="">
            <div class="description-card">
                <h5>Bio Attendance System</h5>
                <div class="subtitle-card">
                    <img src="../../../assets/arrow_icon.png" alt="">
                    <span> Tecnologias: Java, Python e Angular</span>
                </div>
                <p>Um breve resumo Um breve resumo Um breve resumo</p>
                <button> Ver </button>
                <a href="https://github.com/GeovannaVitoria/bio-attendance-system" target="_blank">Repositório</a>
            </div>
        </div>

        <div class="card-project">
            <img src="../../../assets/logo.png" alt="">
            <div class="description-card">
                <h5>My Library</h5>
                <div class="subtitle-card">
                    <img src="../../../assets/arrow_icon.png" alt="">
                    <span> Tecnologias: Angular & Python</span>
                </div>
                <p>Um breve resumo Um breve resumo Um breve resumo</p>
                <button> Ver </button>
                <a href="https://github.com/GeovannaVitoria/my-library" target="_blank">Repositório</a>
            </div>
        </div>

    </div>
</div>