<nav class="navbar">
    <div class="container-fluid justify-content-around">
        <div class="d-flex align-items-end ms-4">
            <a class="navbar-brand" href="#">Geo</a>
            <div class="box-radius"></div>
        </div>

        <ul class="nav justify-content-center">
            <li>
                <a class="nav-link" aria-current="page" routerLink="/" fragment="about-me">Sobre</a>
            </li>
            <li>
                <a class="nav-link" routerLink="/" fragment="projects">Projetos</a>
            </li>
            <li>
                <a class="nav-link" routerLink ="/" fragment="services">Serviços</a>
            </li>
        </ul>

        <button type="button" class="btn btn-danger btn-menu me-5">
            <a href="mailto:geovannavitmlopes@gmail.com">Contate-me</a>
        </button>

    </div>
</nav>