<nav class="navbar">
    <div class="container-fluid justify-content-around">
        <div class="d-flex align-items-end">
            <a class="navbar-brand" href="#">Geo</a>
            <div class="box-radius"></div>
        </div>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projetos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Habilidades</a>
            </li>

        </ul>

        <button type="button" class="btn btn-danger btn-menu">Meu currículo</button>

    </div>
</nav>